.projects-container {
  margin-top: 70px;

  .project-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.7em;

    .links-container {
      display: flex;
      gap: 0.6em;

      a {
        background-color: black;
        padding: 0.3em;
        text-decoration: none;
        border-radius: 3px;
        color: white;
      }
    }
  }
}
