.projects-container {
  margin-top: 70px;

  div {
    margin: 34px 0px 55px 0;

    a {
      padding: 5px;
      margin: 0 10px 0 0;
      background: #00ff55;
      border-radius: 8px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
