.header-container {
  h1 {
    margin: 10px 0 30px;
  }
  p {
    letter-spacing: 1px;
  }
  img {
    border-radius: 50%;
    width: 200px;
  }

  b {
    font-size: 25px;
    letter-spacing: 5px;
  }
}
