.header-container {
  h1 {
    padding: 20px;
  }
  p {
    letter-spacing: 1px;
    padding: 12px;
  }

  .video {
    border: none;
    border-radius: 5px;
  }

  .skills-container {
    img {
      width: 48px;
    }
  }
}
